@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100 tracking-wide
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

.mask-gradient-r {
  mask-image: linear-gradient(to right, black, transparent);
}
.mask-gradient-l {
  mask-image: linear-gradient(to left, black, transparent);
}
.mask-gradient-b {
  mask-image: linear-gradient(to bottom, black, transparent);
}
.mask-gradient-t {
  mask-image: linear-gradient(to top, black, transparent);
}

[class*="mask-gradient-"]:hover {
  mask-image: none;
}

*::-webkit-scrollbar {
  @apply w-2
}

*::-webkit-scrollbar-track {
  @apply rounded-sm bg-gray-950
}

*::-webkit-scrollbar-thumb {
  @apply bg-sky-500 rounded-md
}